*.suo
Src/DotNet/JustReadIt.Core/bin
Src/DotNet/JustReadIt.Core/obj
Src/DotNet/JustReadIt.WebApp/bin
Src/DotNet/JustReadIt.WebApp/obj
Src/DotNet/packages
*.csproj.user
*.csproj.DotSettings
Src/DotNet/_ReSharper.JustReadIt
JustReadIt.sln — skrót.lnk
*.DotSettings
Src/DotNet/JustReadIt.sln.ide
JustReadIt.sln - Shortcut.lnk
Src/DotNet/JustReadIt.Database/bin
*.sqlproj.user
Src/DotNet/JustReadIt.Database/obj
*.DotSettings.user
*.dbmdl
/Src/DotNet/JustReadIt.WebApp/Web-IMMDESKTOP.config
Src/DotNet/JustReadIt.WebApp/AssumeWebConfigNoUnchanged.cmd
Src/DotNet/JustReadIt.WebApp/AssumeWebConfigUnchanged.cmd
Src/DotNet/JustReadIt.Core.Tests/bin
Src/DotNet/JustReadIt.Core.Tests/obj
