<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.11.0" />
  </configSections>

  <connectionStrings>
    <add name="JustReadIt" connectionString="Data Source=localhost;Initial Catalog=JustReadIt;Integrated Security=SSPI;Application Name=JustReadIt" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>

  <log4net configSource="log4net.config" />
  
</configuration>
