@{
  ViewBag.Title = "Sign In";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <h2>
    E-mail address verification
  </h2>

  <p>
    Your e-mail address has been verified.
  </p>
</div>
