@{
  ViewBag.Title = "Sign In";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <h1>
    E-mail address verification
  </h1>

  <p>
    Your e-mail address has <strong>not</strong> been verified because the token is either invalid or has expired.
  </p>
</div>
