@using JustReadIt.WebApp.Core.Models.Account
@model SignUpSuccessViewModel

@{
  ViewBag.Title = "Sign Up Success";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <h1>
    Your account has been created
  </h1>

  <p>
    You can now @Html.ActionLink("sign in", "SignIn", "Account").
  </p>
</div>
