@using JustReadIt.WebApp.Core.Models.Account
@model SignUpSuccessViewModel

@{
  ViewBag.Title = "Sign Up Success";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <h1>
    Your account has been created!
  </h1>

  <p>
    Please check your e-mail for a verification link. After you've opened the link,
    you will be able to @Html.ActionLink("sign in", "SignIn", "Account").
  </p>
</div>
