<div modal="isAddSubscriptionModalOpen" close="closeAddSubscriptionModal()" options="addSubscriptionModalOpts" ng-controller="AddSubscriptionController">
  <form name="addSubscriptionForm" class="modal-form" method="POST">
    <div class="modal-header">
      <h2 class="feed-item-title">Add Subscription</h2>
    </div>
    <div class="modal-body">
      <label for="url">URL of the feed</label>      
      <input id="url" type="text" name="url" value="" class="input-xxlarge" ng-model="url" focus-me="isAddSubscriptionModalOpen" />
      <span class="field-validation-error help-inline" ng-show="addSubscriptionForm.url.$error.isValid">URL is invalid.</span>
      
      <label for="category">Select existing category &hellip;</label>
      <select id="category" name="category" size="5" ng-model="category" ng-options="cat for cat in categories">
      </select>

      <label for="newCategory">&hellip; or enter a name of a new category:</label>
      <input id="newCategory" type="text" name="newCategory" value="" ng-model="newCategory" />
    </div>
    <div class="modal-footer">
      <div class="pull-left" ng-show="isAjaxLoaderVisible">
        <img src="@Url.Content("~/Static/site/img/ajax-loader.gif")" alt="" />
      </div>
      <div class="alert {{feedbackMessageClass}} pull-left" ng-show="feedbackMessage">
        {{feedbackMessage}}
      </div>
      <button type="button" class="btn btn-primary" ng-click="addSubscription()" ng-disabled="isSubscribeButtonDisabled">Subscribe</button>
      <button type="button" class="btn" ng-click="closeAddSubscriptionModal()">Close</button>
    </div>
  </form>
</div>
