<div modal="isReaderModalOpen" close="closeReaderModal()" options="readerModalOpts" ng-controller="FeedItemReaderController">
  <div class="modal-header">
    <h2 class="feed-item-title">
      <a href="{{feedItem.url}}" target="_blank">
        {{feedItem.title}}
      </a>
    </h2>
  </div>
  <div class="modal-body">
    <div id="feed-item-reader-content" ng-bind-html-unsafe="feedItemContentHtml">
    </div>
  </div>
  <div class="modal-footer">
    <div class="pull-left">
      <a href="#" class="share-link" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{feedItem.url | encodeUrl}}', 'facebook-share-dialog', 'width=626,height=436'); return false;">
        <i class="icon-facebook-sign icon-2x"></i>
      </a>
      &nbsp;
      <a ng-href="https://twitter.com/intent/tweet?text={{feedItem.title | encodeUrl}}&amp;url={{feedItem.url | encodeUrl}}" title="Share on Twitter" class="share-link twitter-share-button">
        <i class="icon-twitter-sign icon-2x"></i>
      </a>
    </div>
    <div id="feed-item-reader-actions-container">
      <button type="button" class="btn" ng-show="feedItem.isRead" ng-click="markAsUnread(feedItem)">
        <i class="icon-eye-open"></i> Keep unseen
      </button>
      <button type="button" class="btn" ng-hide="feedItem.isRead" ng-click="markAsRead(feedItem)">
        <i class="icon-eye-close"></i> Mark as seen
      </button>
    </div>
    <button type="button" class="btn btn-info" ng-click="closeReaderModal()">Close</button>
  </div>
</div>

<ul id="feed-item-reader-ctx-menu" class="dropdown-menu dropdown-context">
  <li>
    <a href="#">
      Copy to clipboard
    </a>
  </li>
  <li class="divider">
  </li>
  <li>
    <a href="#">
      Share on Facebook
    </a>
  </li>
  <li>
    <a href="#">
      Share on Twitter
    </a>
  </li>
</ul>
