@using JustReadIt.WebApp.Core.Models.Home
@model IndexViewModel

<div class="container">
  <div class="hero-unit" style="margin-top: 50px;">
    <h1>justRead.it</h1>
    <p style="margin-top: 10px;">
      it's all about the reading experience
    </p>
    <p>
      @if (Request.IsAuthenticated) {
        <p>
          Hello @User.Identity.Name!
        </p>
        <p>
          @Html.ActionLink("Sign Out", "SignOut", "Account", null, new { @class = "btn btn-primary btn-large" })
        </p>
      }
      else {
        <p>
          @Html.ActionLink("Sign Up", "SignUp", "Account", null, new { @class = "btn btn-primary" })
          @Html.ActionLink("Sign In", "SignIn", "Account", null, new { @class = "btn btn-primary btn-success" })
        </p>
      }
    </p>
  </div>
</div>
